// Buefy customization

.button { 
    border-radius: 0;
    font-size: 15px;
    font-weight: 700;
    height: 40px;
    // text-transform: uppercase;
}
.button.is-large { 
    font-size: 20px; 
};

// MeetAll Classes

// .ma-navbar-wrap {
//     border-bottom: 1px solid $super-light;
// }

.ma-navbar {
    height: 65px;
}
.ma-navbar .navbar-item {
    font-size: 15px;
    line-height: 13px;
    font-weight: 500;
    color: $text-light;
    a {
        color: $text-light;
    }
}
.ma-navbar .active--exact.active {
    color: $text;
    font-weight: 500;
}

// Carousel
.carousel {
    .carousel-indicator {
        margin-top: 1.5rem;
        .indicator-item{
            &.is-active .indicator-style,
            .indicator-style:hover {
                background: $dark;
                border: none;
            }
            .indicator-style {
                border: none;
                &.is-dots {
                    border-radius: 6px;
                    height: 6px;
                    width: 6px;
                }
            }
        }

    }
    
}